QWidget {
    background-color: #2C2F33;
    color: white;
    font-size: 16px;
}

QLineEdit {
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

QComboBox {
    background-color: white;
    color: black;
    font-size: 16px;
}

QPushButton {
    background-color: #7289DA;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
