# Core Libraries
numpy
opencv-python-headless  # For image handling

# Object Detection (if needed)
torch
torchvision
ultralytics

# Firebase
firebase-admin

# MQTT
paho-mqtt

# Web Requests (AI API)
requests

# LED Display
pygame

# Utilities
pillow
json5
logging
psutil
